@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-900;
}

.defaultBtn {
  @apply active:bg-[#00000055] bg-transparent transition-colors ease-out rounded-lg hover:bg-[#00000022] text-ellipsis;
}

.primaryActionBtn {
  @apply bg-emerald-500 hover:bg-emerald-400 active:bg-emerald-800 rounded-lg w-12 self-center flex justify-center my-2 text-black p-1 transition-colors ease-out;
}

.centeredFlex {
  @apply flex items-center justify-center;
}

.modalBox {
  @apply flex flex-col w-[15rem] bg-neutral-900 border-[1px] border-neutral-700 rounded-xl p-4 pb-2 text-sm text-left shadow-lg;
}

.modalHeading {
  @apply m-2 font-bold text-center text-neutral-300 text-lg;
}

.modalBackdrop {
  @apply fixed top-0 left-0 w-screen h-screen flex flex-col items-center justify-center bg-[#000000cf] z-50;
}

.pickerButton {
  -webkit-appearance: none;
  padding: 0;
  border: none;
  border-radius: 10em;
  width: 2em;
  height: 2em;
}
.pickerButton::-webkit-color-swatch {
  border: none;
  border-radius: 10em;
  padding: 0;
}
.pickerButton::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 10em;
  padding: 0;
}
